.form {
  width: 300px;

  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.label {
  font-size: 20px;
  display: flex;
  flex-direction: column;

  margin-top: 20px;

  color: #3b3b3b;
}

.input {
  width: 100%;
  padding: 16px 16px;
  border: 1px solid #969696;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-top: 8px;
}

.input:focus-within {
  border: 1px solid #363636;
}

.submitButton {
  background-color: #4cb1ea;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 16px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #427ce7;
}

.submitButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
